AIVEN_SERVICE_URL=
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=
OPENROUTER_API_KEY=
EMBEDDING_MODEL=
CHAT_MODEL_NAME=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
CHAT_TEMPERATURE=0.3
CHAT_TOP_P=1
CHAT_MAX_TOKENS=16384
CHAT_REASONING_BUDGET=16384
